
<div class="page-wrap">

   
    <section id="main">

        <!-- Header -->
            <header id="header">
              
            </header>

        <!-- Section -->
            <section>
                <div class="inner">
                    <header>
                        <h1>Generic</h1>
                    </header>
                    <p>This app is just for development purpose. If have any doubts or need online training feel free to contact</p>
                     <section class="columns double"> 
                        <div class="column">
                            <span class="image left special"><img src="./assets/jatin.jpeg" alt="" /></span>
                            <h3>Jatin Kumar</h3>
                            <p>
                                I am Jatin Kumar working in an MNC and a budding developer who passed out from IIT-BHU 2019 
                            </p>
                        </div>

                    </section>
                </div>
            </section>

        <!-- Contact -->
            <section id="contact">
                <!-- Social -->
                    <div class="social column">
                        <h3>About Me</h3>
                        <p> People find me to be an upbeat, self-motivated team player with excellent communication skills. For the past several years I have worked in lead qualification, telemarketing, and customer service in the technology industry. My experience includes successfully calling people in director-level positions of technology departments and developing viable leads. I have a track record of maintaining a consistent call and activity volume and consistently achieving the top 10 percent in sales, and I can do the same thing for your company.
                            I am a dedicated person with a family of four. I enjoy reading, and the knowledge and perspective that my reading gives me has strengthened my teaching skills and presentation abilities. I have been successful at raising a family, and I attribute this success to my ability to plan, schedule, and handle many different tasks at once. This flexibility will help me in the classroom, where there are many different personalities and learning styles.  </p>
                         <h3>Follow Me</h3>
                        <ul class="icons">
                            <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
                            <li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
                            <li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
                        </ul>
                    </div>

                <!-- Form -->
                    <div class="column">
                        <h3>Get in Touch</h3>
                        <form>
                            <div class="field half first">
                                <label for="name">Name</label>
                                <input name="name" id="name" type="text" placeholder="Name">
                            </div>
                            <div class="field half">
                                <label for="email">Email</label>
                                <input name="email" id="email" type="email" placeholder="Email">
                            </div>
                            <div class="field">
                                <label for="message">Message</label>
                                <textarea name="message" id="message" rows="6" placeholder="Message"></textarea>
                            </div>
                            <ul class="" style="list-style-type: none;">
                                <li><button disabled class="btn btn-sm btn-primary">Send Message</button></li>
                            </ul>
                        </form>
                    </div>

            </section>

        <!-- Footer -->
          
    </section>
</div>







